################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitTestApp/DesignTimeBuild/.dtbcache.v2
